<div class="container-fluid">
  <app-sub-header
    title="バックアップ"
    [showPrint]=false
    [showExcel]=false
  ></app-sub-header>
  <p>バックアップをエクセル形式で作成します。</p>
  <ol>
    <li>資材の種類ごとに1個のエクセルファイルをダウンロードします (最大5ファイル)</li>
    <li>各資材のバックアップはエクセルファイル内の一枚のシートにまとめられます</li>
  </ol>
  <hr>
  <div class="row">
    <label for="target-kind" class="col-sm-2 col-form-label">対象種類</label>
    <ng-container *ngFor="let t of listTarget; index as i">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          name="target-kind"
          id="targets{{i}}"
          class="form-check-input"
          [(ngModel)]="selectedTargetType"
          [value]="t"
          [checked]="selectedTargetType === t">
        <label class="form-check-label pointer" for="targets{{i}}">{{t}}</label>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <label for="range" class="col-sm-2 col-form-label">対象範囲</label>
    <ng-container *ngFor="let r of listRange; index as i">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          name="range"
          id="range{{i}}"
          class="form-check-input"
          [(ngModel)]="selectedRange"
          [value]="r.value"
          [checked]="selectedRange === r.value">
        <label class="form-check-label pointer" for="range{{i}}">{{r.name}}</label>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="mx-auto">
      <button
      type="button"
      class="btn btn-primary"
      (click)="create()">バックアップ作成・ダウンロード</button>
    </div>
  </div>
</div>
