<div class="container-fluid">
  <app-sub-header
  title="パスワード変更"
  [showPrint]=false
  [showCsv]=false
  ></app-sub-header>
  <form #passResetForm="ngForm">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">メールアドレス</label>
      <div class="col-sm-10">
        <input 
        type="text" 
        class="form-control"
        id="email"
        [(ngModel)]="mailAddress" 
        name="email"
        placeholder="登録済みのメールアドレスを入力してください"
        #email="ngModel"
        required>
        <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required">※ 項目が未入力です</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modal"
        (click)="createBody()"
        [disabled]="!(passResetForm.form.valid)">メールを送信</button>
      </div>
    </div>
  </form>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<app-confirm-modal
[title]="confirmTitle"
[bodyHtml]="confirmBody"
[btnCancel]="confirmCancelBtn"
[btnAction]="confirmActionBtn"
(action)="submit(); passResetForm.reset();"
></app-confirm-modal>
<app-complete-modal
[body]="completeBody"
[btnType]="completeBtnType"
></app-complete-modal>