<div class="container-fluid">
  <app-sub-header
  title="担当者一覧"
  [showPrint]=true
  [showExcel]=true
  [excelData]="listUser"
  ></app-sub-header>
  <p class="print-hidden">列をクリックすると、そのデータの修正・削除を行う画面に遷移します。</p>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">担当者名</th>
          <th scope="col">メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listUser; let i = index" (click)="goDetail(u.uid)">
          <th class="pointer" scope="row">{{i+1}}</th>
          <td class="pointer">{{u.displayName}}</td>
          <td class="pointer">{{u.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>