<div class="container-fluid">
  <app-sub-header
  title="資材登録"
  [showPrint]=false
  [showCsv]=false
  ></app-sub-header>
  <form #materialForm="ngForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">資材名</label>
      <div class="col-sm-10">
        <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="registerMaterial.name"
        name="name"
        placeholder="資材名を入力してください"
        #name="ngModel"
        autocomplete="off"
        required>
        <div class="alert alert-danger" *ngIf="name.errors && (name.dirty || name.touched)">
          <div [hidden]="!name.errors.required">※ 項目が未入力です</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="nameKana" class="col-sm-2 col-form-label">資材名かな</label>
      <div class="col-sm-10">
        <input 
        type="text" 
        class="form-control"
        id="nameKana"
        [(ngModel)]="registerMaterial.nameKana" 
        name="nameKana"
        placeholder="資材名かなを入力してください"
        #nameKana="ngModel"
        autocomplete="off"
        required
        pattern="{{nameKanaPattern}}">
        <div class="alert alert-danger" *ngIf="nameKana.errors && (nameKana.dirty || nameKana.touched)">
          <div [hidden]="!nameKana.errors.required">※ 項目が未入力です</div>
          <div [hidden]="!nameKana.errors.pattern">※ 全角かな・半角英数字・半角記号・半角スペース以外は入力しないでください</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="limitCount" class="col-sm-2 col-form-label">フラグ</label>
      <div class="col-sm-10">
        <input
        type="number"
        class="form-control"
        id="limitCount"
        [(ngModel)]="registerMaterial.limitCount"
        name="limitCount"
        placeholder="フラグを半角数字で入力してください"
        aria-describedby="limitCountHelp"
        #limitCount="ngModel"
        autocomplete="off"
        required
        pattern="{{limitCountPattern}}">
        <div class="alert alert-danger" *ngIf="limitCount.errors && (limitCount.dirty || limitCount.touched)">
          <div [hidden]="!limitCount.errors.required">※ 項目が未入力です</div>
          <div [hidden]="!limitCount.errors.pattern">※ １以上の半角数字で入力してください</div>
        </div>
        <small id="limitCountHelp" class="form-text text-muted">ここで設定したフラグの数を在庫量が下回ったら、アラートメールを送信します。</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label">資材タイプ</label>
      <div class="col-sm-10">
        <select
          class="form-control"
          id="type"
          [(ngModel)]="registerMaterial.type"
          name="type"
          #type="ngModel"
          pattern="{{typePattern}}">
          <option *ngFor="let type of materialType" [value]="type">{{type}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="type.errors && (type.dirty || type.touched)">
          <div [hidden]="!type.errors.pattern">※ タイプを選択してください。</div>
        </div>
      </div>
    </div>
    <app-image-cropper-wrapper
      inputTitle="資材写真"
      [_isInited]="isInitInputImage"
      (loadFailed)="imageLoadFailed()"
      (cropped)="selectImage($event)"
    ></app-image-cropper-wrapper>
    <div class="row">
      <div class="mx-auto">
        <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modal"
        (click)="createBody()"
        [disabled]="!(materialForm.form.valid)">登録</button>
      </div>
    </div>
  </form>
</div>
<app-confirm-modal
[title]="confirmTitle"
[bodyHtml]="confirmBody"
[btnCancel]="confirmCancelBtn"
[btnAction]="confirmActionBtn"
(action)="submit(); materialForm.reset(); formInit();"
></app-confirm-modal>