<div class="container-fluid">
  <app-sub-header
  title="商品製造・出荷"
  [showPrint]=false
  [showCsv]=false
  ></app-sub-header>
  <div class="mb-3">
    <img class="show-image img-thumbnail rounded mx-auto d-block img-fluid" [src]="imageSrc" alt="読み込みエラー">
  </div>
  <form #manufactureInventoryForm="ngForm">
    <div class="form-group row">
      <label for="company" class="col-sm-2 col-form-label">得意先</label>
      <div class="col-sm-10">
        <input
        ngui-auto-complete
        id="company"
        class="form-control"
        [source]="companyList"
        [list-formatter]="autocompleListFormatter.bind(this)"
        loading-text="検索中"
        no-match-found-text="該当する得意先はありません。"
        placeholder="得意先名を検索してください"
        display-property-name="name"
        min-chars=0
        auto-select-first-item="true"
        (valueChanged)="selectCompany($event)"
        autocomplete="off"
        >
        <div class="alert alert-danger" *ngIf="showCompanyAlert">
          ※ 検索結果候補から選択してください
        </div>
        <span *ngIf="!isCompanySelected" class="badge badge-danger">未選択</span>
        <div *ngIf="isCompanySelected">
          <span class="badge badge-success">選択中</span>
          <span class="auto-selected ml-2">{{detailProduct.companyData.name }}</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="product" class="col-sm-2 col-form-label">商品</label>
      <div class="col-sm-10">
        <input
        ngui-auto-complete
        id="product"
        class="form-control"
        [source]="productList"
        [list-formatter]="autocompleListFormatter.bind(this)"
        loading-text="検索中"
        no-match-found-text="検索ワードを含む商品はありません"
        placeholder="商品を検索してください"
        display-property-name="name"
        min-chars=0
        auto-select-first-item="true"
        (valueChanged)="selectProduct($event)"
        autocomplete="off"
        [disabled]="!isCompanySelected"
        >
        <div class="alert alert-danger" *ngIf="showProductAlert">
          ※ 検索結果候補から選択してください
        </div>
        <span *ngIf="!isProductSelected" class="badge badge-danger">未選択</span>
        <div *ngIf="isProductSelected">
          <span class="badge badge-success">選択中</span>
          <span class="auto-selected ml-2">{{detailProduct.name}}</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="count" class="col-sm-2 col-form-label">製造・出荷個数</label>
      <div class="col-sm-10">
        <input
        type="text"
        class="form-control"
        id="count"
        [(ngModel)]="inputCount"
        name="count"
        placeholder="製造・出荷した数量を入力してください"
        #count="ngModel"
        required
        [pattern]="countPattern">
        <div class="alert alert-danger" *ngIf="count.errors && (count.dirty || count.touched)">
          <div [hidden]="!count.errors.required">※ 項目が未入力です</div>
          <div [hidden]="!count.errors.pattern">※ １以上の半角数字で入力してください</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="memo" class="col-sm-2 col-form-label">備考</label>
      <div class="col-sm-10">
        <input
        ngui-auto-complete
        id="memo"
        name="memo"
        class="form-control"
        [source]="memoList"
        loading-text="検索中"
        no-match-found-text="該当する備考はありません。"
        placeholder="備考を入力してください"
        auto-select-first-item="true"
        [(ngModel)]="inputMemo"
        min-chars=0
        autocomplete="off"
        aria-describedby="memoHelp"
        >
        <small id="memoHelp" class="form-text text-muted">備考は空欄でも構いません。</small>
      </div>
    </div>
    <hr>
    <div *ngIf="showBottle">
      <div class="form-group row">
        <label for="bottle" class="col-sm-2 col-form-label">ボトル</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="bottle"
          class="form-control"
          [source]="bottleLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当するボトルはありません。"
          placeholder="ボトル名を検索してください"
          display-property-name="name"
          min-chars=0
          auto-select-first-item="true"
          (valueChanged)="selectMaterial($event, 'bottle')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showBottleAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isBottleSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isBottleSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.bottleData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestBottleInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showTrigger">
      <div class="form-group row">
        <label for="trigger" class="col-sm-2 col-form-label">トリガー</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="trigger"
          class="form-control"
          [source]="triggerLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当するトリガーはありません。"
          placeholder="トリガー名を検索してください"
          auto-select-first-item="true"
          display-property-name="name"
          min-chars=0
          (valueChanged)="selectMaterial($event, 'trigger')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showTriggerAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isTriggerSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isTriggerSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.triggerData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestTriggerInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showLabel">
      <div class="form-group row">
        <label for="label" class="col-sm-2 col-form-label">ラベル</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="label"
          class="form-control"
          [source]="labelLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当するラベルはありません。"
          placeholder="ラベル名を検索してください"
          auto-select-first-item="true"
          display-property-name="name"
          min-chars=0
          (valueChanged)="selectMaterial($event, 'label')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showLabelAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isLabelSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isLabelSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.labelData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestLabelInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showBag">
      <div class="form-group row">
        <label for="bag" class="col-sm-2 col-form-label">詰め替え袋</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="bag"
          class="form-control"
          [source]="bagLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当する詰め替え袋はありません。"
          placeholder="詰め替え袋名を検索してください"
          auto-select-first-item="true"
          display-property-name="name"
          min-chars=0
          (valueChanged)="selectMaterial($event, 'bag')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showBagAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isBagSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isBagSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.bagData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestBagInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showInCarton">
      <hr>
      <div class="form-group row">
        <label for="inCarton" class="col-sm-2 col-form-label">内側カートン</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="inCarton"
          class="form-control"
          [source]="cartonLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当するカートンはありません。"
          placeholder="カートン名を検索してください"
          auto-select-first-item="true"
          display-property-name="name"
          min-chars=0
          (valueChanged)="selectMaterial($event, 'inCarton')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showInCartonAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isInCartonSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isInCartonSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.inCartonData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestInCartonInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lotForInCarton" class="col-sm-2 col-form-label">内側カートンのロット数</label>
        <div class="col-sm-10">
          <input
          type="text"
          class="form-control"
          id="lotForInCarton"
          [(ngModel)]="inCartonLot"
          name="lotForInCarton"
          placeholder="ロット数を入力してください"
          aria-describedby="lotForInCartonHelp"
          #lotForInCarton="ngModel"
          pattern="{{countPattern}}">
          <div class="alert alert-danger" *ngIf="lotForInCarton.errors && (lotForInCarton.dirty || lotForInCarton.touched)">
            <div [hidden]="!lotForInCarton.errors.pattern">※ １以上の半角数字で入力してください</div>
          </div>
          <small id="lotForInCartonHelp" class="form-text text-muted">内側カートン一個に入るロット数を指定して下さい。未入力の場合は1になります。</small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">割り切れない際の端数</label>
        <div class="col-sm-10">
          <div class="form-check form-check-inline" aria-describedby="in-floor-help">
            <input
              type="radio"
              name="in-ceil"
              id="in-ceil"
              class="form-check-input"
              [(ngModel)]="isInCeil"
              [value]="true"
              [checked]="isInCeil">
            <label class="form-check-label pointer" for="in-ceil">切り上げ（半端分で１カートン使用）</label>
            <input
              type="radio"
              name="in-floor"
              id="in-floor"
              class="form-check-input ml-2"
              [(ngModel)]="isInCeil"
              [value]="false"
              [checked]="!isInCeil">
            <label class="form-check-label pointer" for="in-floor">切り捨て（半端分にはカートンを使用しない）</label>
          </div>
          <small id="in-floor-help" class="form-text text-muted">製造・出荷個数をロット数で割り切れない場合、カートンの使用個数を切り上げる(多)か切り捨てるか(少)を選択</small>
        </div>
      </div>
    </div>
    <div *ngIf="showOutCarton">
      <hr>
      <div class="form-group row">
        <label for="outCarton" class="col-sm-2 col-form-label">外側カートン</label>
        <div class="col-sm-10">
          <input
          ngui-auto-complete
          id="outCarton"
          class="form-control"
          [source]="cartonLists"
          [list-formatter]="autocompleListFormatter.bind(this)"
          loading-text="検索中"
          no-match-found-text="該当するカートンはありません。"
          placeholder="カートン名を検索してください"
          auto-select-first-item="true"
          display-property-name="name"
          min-chars=0
          (valueChanged)="selectMaterial($event, 'outCarton')"
          autocomplete="off"
          [disabled]="!isProductSelected"
          >
          <div class="alert alert-danger" *ngIf="showOutCartonAlert">
            ※ 検索結果候補から選択してください
          </div>
          <span *ngIf="!isOutCartonSelected" class="badge badge-danger">未選択</span>
          <div *ngIf="isOutCartonSelected">
            <span class="badge badge-success">選択中</span>
            <span class="auto-selected ml-2">{{detailProduct.outCartonData.name }}</span>
            <span class="badge badge-success ml-4">{{inputLocation.name}}の現在在庫量</span>
            <span class="auto-selected ml-2">{{latestOutCartonInventory.locationCount[inputLocation.id]}}個</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lotForOutCarton" class="col-sm-2 col-form-label">外側カートンのロット数</label>
        <div class="col-sm-10">
          <input
          type="text"
          class="form-control"
          id="lotForOutCarton"
          [(ngModel)]="outCartonLot"
          name="lotForOutCarton"
          placeholder="ロット数を入力してください"
          aria-describedby="lotForOutCartonHelp"
          #lotForOutCarton="ngModel"
          pattern="{{countPattern}}">
          <div class="alert alert-danger" *ngIf="lotForOutCarton.errors && (lotForOutCarton.dirty || lotForOutCarton.touched)">
            <div [hidden]="!lotForOutCarton.errors.pattern">※ １以上の半角数字で入力してください</div>
          </div>
          <small id="lotForOutCartonHelp" class="form-text text-muted">外側カートン一個に入るロット数を指定して下さい。未入力の場合は1になります。</small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">割り切れない際の端数</label>
        <div class="col-sm-10">
          <div class="form-check form-check-inline" aria-describedby="out-floor-help">
            <input
              type="radio"
              name="out-ceil"
              id="out-ceil"
              class="form-check-input"
              [(ngModel)]="isOutCeil"
              [value]="true"
              [checked]="isOutCeil">
            <label class="form-check-label pointer" for="out-ceil">切り上げ（半端分で１カートン使用）</label>
            <input
              type="radio"
              name="out-floor"
              id="out-floor"
              class="form-check-input ml-2"
              [(ngModel)]="isOutCeil"
              [value]="false"
              [checked]="!isOutCeil">
            <label class="form-check-label pointer" for="out-floor">切り捨て（半端分にはカートンを使用しない）</label>
          </div>
          <small id="out-floor-help" class="form-text text-muted">製造・出荷個数をロット数で割り切れない場合、カートンの使用個数を切り上げる(多)か切り捨てるか(少)を選択</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <button
        type="button"
        class="btn btn-primary"
        (click)="confirmRegister()"
        [disabled]="!(manufactureInventoryForm.form.valid && isProductSelected)">製造・出荷登録</button>
      </div>
    </div>
  </form>
</div>
<app-confirm-modal
[title]="confirmTitle"
[bodyHtml]="confirmBody"
[btnCancel]="confirmCancelBtn"
[btnAction]="confirmActionBtn"
(action)="submit(); manufactureInventoryForm.reset()"
></app-confirm-modal>