<div class="container-fluid">
  <app-sub-header
  title="商品一覧"
  [showPrint]=true
  [showCsv]=true
  [csvData]="csvListProduct"
  ></app-sub-header>
  <div class="print-hidden">
    <div class="form-group row">
      <label for="company" class="col-sm-2 col-form-label">得意先選択</label>
      <div class="col-sm-10">
        <input
        ngui-auto-complete
        id="company"
        class="form-control"
        [source]="listCompany"
        [list-formatter]="autocompleListFormatter.bind(this)"
        loading-text="検索中"
        no-match-found-text="該当する得意先はありません。"
        placeholder="得意先名を検索してください"
        display-property-name="name"
        min-chars=0
        auto-select-first-item="true"
        (valueChanged)="selectCompany($event)"
        autocomplete="off"
        >
      </div>
    </div>
    <p>列をクリックすると、そのデータの修正・削除を行う画面に遷移します。</p>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{titleListProduct[0].companyName}}</th>
          <th scope="col">{{titleListProduct[0].name}}</th>
          <th scope="col">{{titleListProduct[0].bottleName}}</th>
          <th scope="col">{{titleListProduct[0].triggerName}}</th>
          <th scope="col">{{titleListProduct[0].labelName}}</th>
          <th scope="col">{{titleListProduct[0].bagName}}</th>
          <th scope="col">{{titleListProduct[0].inCartonName}}</th>
          <th scope="col">{{titleListProduct[0].outCartonName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listProduct; let i = index" (click)="goDetail(p.id)">
          <th class="pointer" scope="row">{{i+1}}</th>
          <td class="pointer">{{p.companyName}} </td>
          <td class="pointer">{{p.name}}</td>
          <td class="pointer">{{p.bottleName}} </td>
          <td class="pointer">{{p.triggerName}} </td>
          <td class="pointer">{{p.labelName}} </td>
          <td class="pointer">{{p.bagName}} </td>
          <td class="pointer">{{p.inCartonName}} </td>
          <td class="pointer">{{p.outCartonName}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>