<div class="container-fluid">
  <app-sub-header
  title="資材一覧"
  [showPrint]=true
  [showExcel]=true
  [excelData]="listMaterial"
  ></app-sub-header>
  <div class="print-hidden">
    <ng-container *ngFor="let m of materials; index as i">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          name="material"
          id="materials{{i}}"
          class="form-check-input"
          [(ngModel)]="selectedMaterilal"
          [value]="m.value"
          [checked]="selectedMaterilal == m.value"
          (change)="changeMaterial(m.value)">
        <label class="form-check-label pointer" for="materials{{i}}">{{m.name}}</label>
      </div>
    </ng-container>
    <hr>
    <p>列をクリックすると、そのデータの修正・削除を行う画面に遷移します。</p>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">資材画像</th>
          <th scope="col">資材名</th>
          <th scope="col">資材タイプ</th>
          <th scope="col">フラグ</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of listMaterial; let i = index" (click)="goDetail(m.id)">
          <th class="pointer" scope="row">{{i+1}}</th>
          <td class="pointer"><img [src]="m.imageSrc" class="list-icon img-thumbnail rounded img-fluid"></td>
          <td class="pointer">{{m.name}}</td>
          <td class="pointer">{{m.type}}</td>
          <td class="pointer">{{m.limitCount | number}}</td>
          <td class="pointer">{{m.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>