<div class="container-fluid">
  <app-sub-header
  title="資材一覧"
  [showPrint]=true
  [showCsv]=true
  [csvData]="csvListMaterial"
  [csvFileName]="selectedMaterilalNameJa"
  ></app-sub-header>
  <ng-container *ngFor="let m of materials; index as i">
    <div class="form-check form-check-inline">
      <input
        type="radio"
        name="material"
        id="materials{{i}}"
        class="form-check-input"
        [(ngModel)]="selectedMaterilal"
        [value]="m.value"
        [checked]="selectedMaterilal == m.value"
        (change)="changeMaterial(m.value)">
      <label class="form-check-label pointer" for="materials{{i}}">{{m.name}}</label>
    </div>
  </ng-container>

  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{titleListMaterial[0].id}}</th>
          <th scope="col">{{titleListMaterial[0].name}}</th>
          <th scope="col">{{titleListMaterial[0].nameKana}}</th>
          <th scope="col">{{titleListMaterial[0].type}}</th>
          <th scope="col">{{titleListMaterial[0].limitCount}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of listMaterial; let i = index" (click)="goDetail(m.id)">
          <th class="pointer" scope="row">{{i+1}}</th>
          <td class="pointer">{{m.id}}</td>
          <td class="pointer">{{m.name}}</td>
          <td class="pointer">{{m.nameKana}}</td>
          <td class="pointer">{{m.type}}</td>
          <td class="pointer">{{m.limitCount}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<app-complete-modal
[body]="completeBody"
[btnType]="completeBtnType"
></app-complete-modal>